# Checkpoints
*.ckpt
*.pt
*.pth

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# OS specific
.DS_Store

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# IDE specific
.idea/
.vscode/

data/
reward_dict/
*results*/
summary/